html, h1, h2, h3, p, a, ol, ul, li, div {
	font-family: Arial;
/*	font-family: 'EB Garamond', serif;*/
	font-size: 16px;
	line-height:18px;
	padding:0;
	margin:0;
	color: #666;
}

#container {
	min-height: 100%;
	position: relative;
}

#header {
	background-color:#e5bb15;
	height: 140px;
	width: 100%;
	padding-left: 5px;
	padding-right: 25px;
	position: relative;
	top: -1px;
	left: -1px;
	display: flex;
}

.header-overlay{
	background-color: #000;
	opacity: 0.5;
	position: absolute;
	top: -1px;
	left: -1px;
	height: 500px;
	width: 100%;
}

.non-index {
	background-color: #000;
/*	background-image: url("res/IMG_20170806_165202_902.jpg");*/
	height: 500px;
	width: 100%;
	padding-left: 5px;
	padding-right: 25px;
	position: relative;
	top: -1px;
	left: -1px;
	display: flex;
}

#host-header {
	background-image: url("res/IMG_20170806_165202_902.jpg");
}

#episode-header {
	background-image: url("res/IMG_20171016_103917_316.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#contact-header {
	background-image: url("res/IMG_20170218_173733_679.jpg");
	background-position-y: 25%;
	background-repeat: no-repeat;
	background-size: cover;
}

#header-top {
	display: block;
}

.rb {
	font-family: Roboto, sans-serif;
}

.heading-title {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 5px auto;
	padding: 225px 0;
	font-size: 3.5em;
	color: #fff;
	text-align: center;
	letter-spacing: 0.05em;
}

footer {
	background-color: #222;
	width: 100%;
	height: 140px;
	padding-left: 5px;
	position: absolute;
	bottom: -140px;
	left: -1px;
	color: #fff;
}

#back-footer {
	background-color: #333;
	height: 61px;
	position: absolute;
	bottom: -1px;
}

section {
	max-width: 890px;
	background-color: #aaa;
}

.div {
	border: dotted 1px black;
}

a { z-index:3; }

#header-logo {
	border: 0;
	margin: 15px;
	padding-top:5px;
	width: 160px;
	float: left;
/*	height:110px;*/
}

#header-left {
	float: inline;
	text-align: left;
}

#header-right {
	width: 100%;
	float: inline;
	text-align: right;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
}

#nav-right-top {
/*	width:90%;*/
	padding-top: 45px;
	position:absolute;
	right: 37px;
}

.menu-item {
	margin: auto;
	width: 100px;
	display: inline;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 0;
	/*padding-left: 10px;*/
}

#nav-right-bottom {
	background-color:#e5bb15;
	text-align: right;
	float:right;
	line-height: 1.7em;
}
.nav-menu-item {
	padding: 10px;
	width: 150px;
	margin:10px 0;
	line-height: 1.5em;
}

.left-btn {
	display: inline-block;
	vertical-align: top;
}

.right-btn {
	display: inline-block;
	position: relative;
}

.dropdown-content {
	text-align: right;
	width: 180px;
	padding: 10px;
	display: none;
	transition-property: top;
	transition-duration: 0.5s;
	transition-delay: 0.1s;
	transition-timing-function: ease-in-out;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.menu-color {
	font-family: alpha-echo, sans-serif;
	color: #eee;
	transition-property: color;
	transition-duration: 0.5s;
	transition-delay: 0.5s;
}

.menu-color:hover {
	color: #fff;
}

.menu-color:active {
	color: #fff;
}

#mid-section {
	max-width:1003px;
	margin: 50px auto;
	padding: 40px 10px 220px 10px;
/*	height:600px;*/
}

.left-middle {
	margin: 0 0 5px 0;
	height: 100%;
	float: left;
	font-size: 1.25em;
	line-height: 2em;
/*	padding: 75px 10px;*/
	padding: 10px;
}

.right-middle {
	margin: 0 auto 25px auto;
	height: 100%;
	padding: 10px;
	display: inline-block;
}

.index-middle {
	width: 50%;
}

.eb {
	font-family: 'EB Garamond', serif;
	font-size: 0.9em;
}

.about {
	font-size: 1.2em;
	padding-bottom: 0.6em;
}

.phonetic {
	margin: 10px 0 25px 0;
}

.noun {
	font-size: 0.8em;
	font-style: italic;
	line-height: 1.5em;
	padding: 0.65em 0;
	letter-spacing: 0.05em;
	color: #666;
}

.left-menu {
	width: 23%;
	display: inline-grid;
	padding-bottom: 25px;
	margin-right: 7%;
}

.left-menu a {
	color: #033;
	display: block;
	float: right;
	line-height: 1.8em;
	font-weight: bold;
	color: #999;
}

.left-menu a:hover {
	color: #222;
}

.selected {
	color: #222 !important;
}

.host-pics {
	max-height: 450px;
	float:center;
	margin: 5px auto;
	overflow:hidden;
	max-width: 60%;
}

.host-box {
	margin: 35px 0;
}

.black-box {
	background-color: #000;
	position: relative;
	width: 40%;
	padding: 35px;
}

.bb-right {
	bottom: -20px;
	left: -50px;
	float:right;
}

.bb-left {
	bottom: -20px;
	left: 40px;
	float:left;
}

.bb-font {
	font-family: proxima-nova;
	color: white;
	font-size: 0.65em;
	font-weight: bold;
}

.right-pic {
	float: right;
}

.right-section {
	width: 70%;
}

.definition {
	list-style-type: circle;
	padding-left: 4.5em;
	line-height: 1.5em;
}

.home-list {
	padding-top: 0.5em;
	padding-left: 2.5em;
	letter-spacing: 0.1em;
}

li {
	margin-bottom: 1.5em;
	font-size: 0.95em;
}

.home-item {
	line-height: 1.5em;
	letter-spacing: 0.05em;
}

.home-about p {
/*	font-size: 1.2em;*/
	line-height: 1.6em;
	padding: 0.5em;
	letter-spacing: 0.05em;
	word-spacing: 0.01em;
}

.center-txt {
	text-align: center;
	font-size: 1.2em;
	line-height: 1.65em;
}

.home-pic {
	max-width: 800px;
	max-height: 220px;
	padding: 0 15%;
	margin: 0 auto;
	text-align: center;
	-moz-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
	z-index: 1;
}

.pic-container {
	overflow:hidden;
	margin: 20px auto;
}

.contact-hear {
	margin: 0 0 10px 0;
	line-height: 1.4em;
	font-size:  1.3em;
}

.contact-inq {
	font-size: 1.1em;
	line-height: 1.2em;
}




@media only screen and (max-width:640px) {
	#nav-right-top {
		display: none;
	}
	
	.left-menu {
		display: none;
	}

	.heading-title {
		font-size: 2em;
	}
	
	#hamburger {
		padding-top: 45px;
	    position: absolute;
    	right: 37px;
	}
	
	.h-line {
		background-color: #eee;
		width: 20px;
		height: 3px;
		margin: 3px;
		border-radius: 10px;
	}
	
	#hamburger:hover .h-line {
		background-color: #fff;
	}
	
	#left-middle {
		width: 100%;
	}

	#right-middle {
		width: 100%;
	}

	.host-pics {
		width: 80%;
	}
	
	footer {
		position: relative;
		bottom: -10px;
		left: -1px;
		display: inline-block;
	}

	#back-footer {
		position: relative;
		bottom: -21px;
	}

}